$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
$nav-height: 6rem;

html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Public Sans", sans-serif;
  background-color: $Very-Light-Gray;
}
header {
  .nav-container {
    padding: 1.5rem 10vw;
    height: $nav-height;
    align-items: center;
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 20rem auto 15rem;
    box-shadow: 0 5rem 5rem rgb(239 239 239);
    .nav-list {
      text-align: center;
      a {
        color: $Grayish-Blue;
        margin: 0 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline $Lime-Green 0.3rem;
          text-underline-offset: 2.5rem;
        }
      }
    }
    .hamburguer {
      display: none;
    }
    .close{
      display: none;
    }
  }
}
.request-invite {
  border: none;
  border-radius: 2rem;
  height: 3rem;
  width: 12rem;
  background: linear-gradient(45deg, $Lime-Green, $Bright-Cyan);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  cursor: pointer;
}
main {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 300;
    color: $Dark-Blue;
  }
  .first-section {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 5rem;
    padding-left: 10vw;
    align-items: center;
    height: 60rem;
    .left-section {
      h1 {
        font-size: 3.5rem;
      }
      p {
        color: $Grayish-Blue;
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 2rem 0;
      }
    }
    .right-section {
      .intro-desktop {
        position: absolute;
        top: $nav-height;
        right: 0;
        object-fit: cover;
        object-position: bottom 10rem left 10rem;
        z-index: 1;
      }
      .intro-phone {
        position: absolute;
        right: 0;
        object-fit: cover;
        z-index: 2;
        top: $nav-height;
        object-position: bottom 0rem left 7rem;
      }
    }
  }
  .second-section {
    padding: 7rem 10vw 0;
    background-color: $Light-Grayish-Blue;
    h2 {
      font-size: 3rem;
    }
    p {
      color: $Grayish-Blue;
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 2rem 0;
    }
    .finance-options {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      grid-auto-rows: 30rem;
      h3 {
        font-size: 1.6rem;
        margin: 1rem 0;
      }
    }
  }
  .third-section {
    padding: 0 10vw;
    margin: 0 auto 7rem;
    h4 {
      font-size: 3rem;
      margin: 5rem auto 4rem;
    }
    .articules-cards {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      grid-auto-rows: 25rem;
      align-items: center;
      .articule-card {
        display: flex;
        flex-direction: column;
        img {
          background-size: contain;
          width: 60%;
          min-height: 15rem;
          min-width: 20rem;
          border-radius: 0.5rem 0.5rem 0 0;
        }
        .card-content {
          margin-top: 2rem;
          span {
            color: $Grayish-Blue;
          }
          p {
            width: 60%;
          }
          h5 {
            margin: 0.5rem 0;
          }
        }
      }
    }
  }
}
footer {
  background-color: $Dark-Blue;
  color: $White;
  padding: 3rem 10vw 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 22rem));
  grid-auto-rows: 8rem;
  column-gap: 2rem;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  .footer-list {
    display: grid;
    a {
      text-decoration: none;
      margin-bottom: 1rem;
    }
  }
  p {
    margin: 1rem 0;
  }
  .attribution {
    display: grid;
    a {
      color: $White;
      margin: 1rem 0;
      span {
        color: $Lime-Green;
      }
    }
  }
  .rights {
    text-align: right;
  }
}
@media (max-width: 830px) {
  header .nav-container{
    .nav-list{
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $White;
      top: 7rem;
      left: 10vw;
      width: 80vw;
      z-index: 3;
      padding: 1rem;
      border-radius: 0.7rem;
      a{
        color: $Dark-Blue;
        margin: 1rem 0;
        font-size: 2rem;
        &:hover {
          text-decoration: underline $Lime-Green 0.3rem;
          text-underline-offset: 1.2rem;
        }
      }
    }
    .hamburguer{
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10vw;
      top: 2rem;
    }
    .close{
      cursor: pointer;
      position: absolute;
      right: 10vw;
      top: 2rem;
    }
    button{
      display: none;
    }
  }

}
